# DataFrames

Les DataFrames sont le gros point fort de Pandas et sont directement inspirés du langage de programmation R. On peut considérer un DataFrame comme un ensemble d'objets Series réunis et qui partagent le même index. Utilisons Pandas pour explorer ce sujet !

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randint

In [ ]:
columns= ['W', 'X', 'Y', 'Z'] # 4 colonnes
index= ['A', 'B', 'C', 'D', 'E'] # 5 lignes

In [ ]:
np.random.seed(42)
data = randint(-100,100,(5,4))

In [ ]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [ ]:
df = pd.DataFrame(data,index,columns)

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

## Sélection et indexation sur les colonnes

Apprenons les différentes méthodes pour récupérer les données d'un DataFrame

### Récupérer une seule colonne

In [ ]:
df['W']

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int64

### Récupérer plusieurs colonnes

In [ ]:
# Passer une liste de noms de colonnes
df[["W", "Z"]]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

### Les colonnes de DataFrame ne sont que des séries

In [ ]:
type(df['W'])

pandas.core.series.Series

### Création d'une nouvelle colonne

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

### Suppression de colonnes

In [ ]:
# axis=1 car c'est une colonne
df.drop('new',axis=1)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
# Ne remplace pas à moins d'être réaffecté à df !
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [ ]:
df = df.drop('new',axis=1)

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

## Sélection et indexation sur les lignes

### Sélection d'une ligne par son nom

In [ ]:
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

### Sélection de plusieurs lignes par leurs noms

In [ ]:
df.loc[['A','C']]

   W   X   Y   Z
A  2  79  -8 -86
C  2  21 -26 -13

### Sélection d'une seule ligne avec sa position d'index

In [ ]:
df.iloc[0]

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

### Sélection de plusieurs lignes avec leurs positions d'index

In [ ]:
df.iloc[0:2]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80

### Supprimer une ligne par son nom

In [ ]:
df.drop('C',axis=0)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
# Ne remplace pas le DataFrame d'origine !
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

### Sélection d'un sous-ensemble de lignes et de colonnes en même temps

In [ ]:
df.loc[['A','C'],['W','Y']]

   W   Y
A  2  -8
C  2 -26

## Sélection conditionnelle

Une caractéristique importante Pandas est la sélection conditionnelle en utilisant la notation entre crochets, très similaire à numPy :

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df>0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [ ]:
df[df>0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [ ]:
df['X']>0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [ ]:
df[df['X']>0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [ ]:
df[df['X']>0]['Y']

A    -8
C   -26
E   -48
Name: Y, dtype: int64

In [ ]:
df[df['X']>0][['Y','Z']]

    Y   Z
A  -8 -86
C -26 -13
E -48 -99

Pour deux conditions, vous pouvez utiliser | et & avec parenthèses :

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

## Plus de détails sur l'index

Examinons quelques autres caractéristiques de l'indexation, notamment la réinitialisation de l'index ou la définition d'un autre paramètre. Nous parlerons également de la hiérarchie de l'index !

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
# Remise de l'index à sa valeur par défaut 0,1...n
df.reset_index()

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [ ]:
df['States'] = newind

In [ ]:
df

    W   X   Y   Z States
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [ ]:
df.set_index('States')

         W   X   Y   Z
States
CA       2  79  -8 -86
NY       6 -29  88 -80
WY       2  21 -26 -13
OR      16  -1   3  51
CO      30  49 -48 -99

In [ ]:
df

    W   X   Y   Z States
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [ ]:
df = df.set_index('States')

In [ ]:
df

         W   X   Y   Z
States
CA       2  79  -8 -86
NY       6 -29  88 -80
WY       2  21 -26 -13
OR      16  -1   3  51
CO      30  49 -48 -99

## Synthèse des DataFrames
Il existe plusieurs façons d'obtenir des données de synthèse sur DataFrames.<br>
<tt><strong>df.describe()</strong></tt> fournit des statistiques sommaires sur toutes les colonnes numériques.<br>
<tt><strong>df.info() et df.dtypes</strong></tt> affichent le type de données de toutes les colonnes.

In [ ]:
df.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [ ]:
df.dtypes

W    int64
X    int64
Y    int64
Z    int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, CA to CO
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      int64
 1   X       5 non-null      int64
 2   Y       5 non-null      int64
 3   Z       5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes